@import "../../Sass/variables";
.header {
  //position: relative;
  //overflow: hidden;
  width: 100%;
  height: 100%;
  .container {
    height: 100%;
    .header-row {
      //align-items: center;
      //height: 10%;
      .site-alert{
        //display: block;
        //position: relative;
        z-index: 102;
        z-index: 101;
        width: 100%;
        color: #000 !important;
        //padding-top: 1rem !important;
        //background-color: #dbf3ff !important;
        .alert-title{
          color: #000 !important;
          padding-left: 0.25rem !important;
          //display: inline !important;
          //word-wrap: break-word;
          background: transparent;
        }
        
      }
    }
  }
}